// Headings
h1, h2, h3 {font-family: 'IranSans-M';}

h1 {
  font-size: 3.4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 3rem;
}

// Paragraphs
p {
  font-size: 2.6rem;
}

// Links
a {
  font-size: 2.2rem;
  text-decoration: none;
}